<!DOCTYPE html>
@{
    CityWeather cityWeather = ViewBag.CityWeather;
}

@{
    string backgroundColor(int fahrenheit)
    {
        if (fahrenheit < 44)
        {
            return "blue-back";
        }
        else if (fahrenheit > 44 && fahrenheit < 74)
        {
            return "green-back";
        }
        else
        {
            return "orange-back";
        }
    }
}

@model CityWeather;
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>
        City Weathers
    </title>
    <meta charset="utf-8" />
    <link href="~/StyleSheet.css" rel="stylesheet" />
</head>

<body>
    <div class="page-content">
        @if (Model != null)
        {
            <div class="box cursor-pointer w-30 margin-auto margin-top-200 @backgroundColor(Model.TemperatureFahrenheit)">
                <div class="flex-borderless">
                    <div class="w-50">
                        <h2>@Model.CityName</h2>
                        <h4 class="text-grey">@Model.DateAndTime.ToString("dd MMM yyyy")</h4>
                        <h4 class="text-grey">@Model.DateAndTime.ToString("hh:mm tt")</h4>
                    </div>
                    <div class="w-50 border-left">
                        <h1 class="margin-left">@Model.TemperatureFahrenheit <sup class="text-grey">&#8457</sup></h1>
                    </div>
                </div>
            </div>

            <div class="text-center">
                <a href="~/">Back to Weather Home Page</a>
            </div>
        }
        else
        {
            <h3>City Code is not valid.</h3>
        }

    </div>

</body>
</html>